.search-box{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:30px;
    cursor: pointer;
    padding:10px 20px;
    background:transparent;
    border-top:0px;
    border-right:0px;
    border-left:0px;
    align-items:center;
    border:1px;
       
}
.input-box{
    height:30px;
    width:330px;
    border-top:0px;
    border-right:0px;
    border-left:0px;
}
.search-logo{
    width:18.33px;
    height:18.33px;
    top:141px;
    border-bottom:24px;
}
.plant-logo{
    width:32px;
    height:30px;
    top:138px;
    border-bottom:24px;
}